*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* $breakpoints: (
  xsphone: 0px,
  phone: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1200px,
  xldesktop: 1400px,
); */

:root {
  --orange: #fc5253;
  --font: rgb(92, 92, 92);
  --transition: 0.6s;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.5rem !important;
  font-family: sans-serif;
  color: var(--font) !important;
  font-weight: 400 !important;
  overflow-x: hidden;
}

body img {
  width: 100%;
}
body ul {
  padding: 0;
  list-style: none;
}

.heading {
  color: var(--orange);
}

.topic {
  text-transform: capitalize;
}

.default_button button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: var(--orange);
  color: white;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.default_button button:hover {
  background-color: white;
  outline: 0.1rem solid var(--orange);
  color: var(--orange);
}

.content-pad {
  padding: 10rem 0rem;

  @media screen and (max-width: 768px) {
    padding: 7rem 0rem;

    @media screen and (max-width: 576px) {
      padding: 5rem 0rem;
    }
  }
}

.banner-heading h1 {
  font-size: clamp(3rem, 4vw, 7rem);
  font-weight: 700;
}

.para p {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}

#pricing_buttons > :nth-child(1) {
  background: none;
  border: none;
  transition: 0.4s;
  outline: none;
  padding: 1rem 2rem;
  background-color: var(--orange);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  border: 0.2rem solid var(--orange);
}

#pricing_buttons > :nth-child(2) {
  background: none;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: silver;
  border-radius: 2rem;
  transition: 0.4s;
  border: 0.2rem solid white;
}

#pricing_buttons > :nth-child(2):hover {
  border: 0.2rem solid var(--orange);
  color: var(--orange);
}

#pricing_buttons > :nth-child(1):hover {
  background-color: white;
  border: 0.2rem solid var(--orange);
  color: var(--orange);
}

#pricing_upper_container h1 {
  font-size: clamp(3rem, 3vw, 4rem);
  font-weight: 500;
  color: rgb(115, 115, 115);
}

#pricing_upper_container ul > :nth-child(1) span {
  font-weight: 200;
}

#pricing_down_container ul li > span {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  color: #5243c2;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(82, 67, 194, 0.1037);
}

#plan_button button {
  background: none;
  border: none;
  outline: none;
  background-color: #f496d1;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

#pricing_card_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1rem, 2vw, 2rem);
}
@media screen and (max-width: 990px) {
  #pricing_card_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media screen and (max-width: 576px) {
    #pricing_card_grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
}

.pricing_card_container {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 2rem;
  transition: 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pricing_card_container:hover {
  background-color: var(--orange);
  color: white;
  transform: translateY(-1rem);
}

.pricing_card_container:hover > #pricing_upper_container h1 {
  color: white;
}

.pricing_card_container:hover > #plan_button button {
  background: white;
}

.pricing_card_container:hover #pricing_down_container ul li > span {
  background-color: white;
  color: silver;
}
#pricing_card_grid {
  margin-top: 5rem;
}

#get_started_container_main {
  background-color: rgba(192, 192, 192, 0.498);
  padding: 2rem;
  border-radius: 2rem;
}

#get_started_container > li h1 {
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 3rem);
}

#get_started_container > li p {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}

#get_started_container > li {
  width: 75%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #get_started_container > li {
    text-align: center;
  }
}
